
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

./docker-compose.yml
./.idea
/.idea
./frontend/node_modules/
./frontend/.astro/
./frontend/.env
./frontend/.env.production

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
/.phpunit.result.cache
###< phpunit/phpunit ###
